/*
*
*   Lora Font Family
*
*/
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    src: url(../fonts/google/lora/Lora-Regular.ttf);
}
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src: url(../fonts/google/lora/Lora-Bold.ttf);
}
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url(../fonts/google/lora/Lora-BoldItalic.ttf);
}
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: normal;
    font-display: fallback;
    src: url(../fonts/google/lora/Lora-Italic.ttf);
}