/*
*
*   Multicolore Font Family
*
*/
@font-face {
  font-family: 'Multicolore';
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
  src: url(../fonts/other/multicore/Multicolore.otf);
}
