/*
*
*   Titillium Web Font Family
*
*/

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-ExtraLight.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 200;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-Light.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-LightItalic.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-Regular.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-Italic.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-SemiBold.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-Bold.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: bold;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-BoldItalic.ttf');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url('../fonts/google/titilliumweb/TitilliumWeb-Black.ttf');
}
