/*
*
*   UbuntuMono Font Family
*
*/
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/google/ubuntumono/UbuntuMono-Regular.ttf');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/google/ubuntumono/UbuntuMono-Italic.ttf');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/google/ubuntumono/UbuntuMono-Bold.ttf');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/google/ubuntumono/UbuntuMono-BoldItalic.ttf');
}
