/*
*
*   Tillana Font Family
*
*/
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url(../fonts/other/tillana/Tillana-Regular.ttf);
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url(../fonts/other/tillana/Tillana-Medium.ttf);
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(../fonts/other/tillana/Tillana-SemiBold.ttf);
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url(../fonts/other/tillana/Tillana-Bold.ttf);
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url(../fonts/other/tillana/Tillana-ExtraBold.ttf);
}
