/*
*
*   Oswald Font Family
*
*/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/google/oswald/Oswald-Light.ttf');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/google/oswald/Oswald-Regular.ttf');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/google/oswald/Oswald-Bold.ttf');
}
