/*
*
*   Ubuntu Font Family
*
*/
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-Light.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-LightItalic.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-Italic.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: bold;
  font-display: fallback;
  src: url('../fonts/google/ubuntu/Ubuntu-BoldItalic.ttf');
}
